/* font-family: 'Special Elite', cursive;
font-family: 'Oswald', sans-serif; */

h1, h2, h3, h4{
  font-family: 'Special Elite', cursive;
}

p {
  font-family: 'Oswald', sans-serif;
}

header{
  padding-top: 25px;
}

hr{
  color: #F8DAE2;
  background-color: #F8DAE2;
}

.row{
  padding-top: 5%;
  padding-bottom: 5%;
}

.header-hr{
  width: 85%;
}

.body-hr{
  width: 65%;
}

.btn-main{
  color: #fff;
  background-color: #F8DAE2;
  border-color: #F8DAE2;
}

.btn-main.focus, .btn-main:focus {
    box-shadow: 0 0 0 0.2rem #fceaef;
}

.fa-facebook-square{
  color: #F8DAE2;
}

.fab{
  color: #F8DAE2;
}


/* This is for mobile stuff */

@media (max-width: 767px) {

	header {
		text-align: center;
	}

  .booking-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .btn-booking{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, -50%);
  }

  .ipad{
    display: none;
  }

  hr{
    height: 1px;
  }

}

/* This is for ipad or higher */

@media (min-width: 767px) {

  header {
		text-align: left;
    padding-left: 10%;
	}

  hr{
    height: 2px;
  }

  .booking-img{
    width: 90%;
    padding-left: 10%;
  }

  .btn-booking{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile{
    display: none;
  }

}
