<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kaymie Seven</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this site -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Special+Elite" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</head>
