<link href="css/image-flipper/custom-flipper.css" rel="stylesheet">

<div class="flipster">
    <ul class="flip-items">
        <li>
            <img class="flipper-img" src="../img/kaymie_dark_tattoo.jpg">
        </li>
        <li>
            <img class="flipper-img" src="../img/kaymie_dark_tattoo.jpg">
        </li>
        <li>
            <img class="flipper-img" src="../img/kaymie_dark_tattoo.jpg">
         </li>
        <li>
            <img class="flipper-img" src="../img/kaymie_dark_tattoo.jpg">
        </li>
        <li>
            <img class="flipper-img" src="../img/kaymie_dark_tattoo.jpg">
        </li>
        <li>
            <img class="flipper-img" src="../img/kaymie_dark_tattoo.jpg">
         </li>
        <li>
            <img class="flipper-img" src="../img/kaymie_dark_tattoo.jpg">
        </li>
    </ul>
    <form action="/Shop.html">
      <button type="submit" class="btn btn-shop btn-main">Just Shop</button>
    </form>
</div>

<script>
    $('.flipster').flipster({
      //commenting out for testing purposes
      // autoplay: 5000,
      // loop: true
       spacing: -0.7
    });
</script>
