<% include components/common/headerInfo.html %>
<link href="css/bookingForm.css" rel="stylesheet">

<body>

  <header>
    <h1>Kaymie Seven</h1>
  </header>

  <hr class="header-hr">

  <header class="sub-heading">
    <h3>Booking Form</h3>
  </header>


  <form action="/BookingForm.html" method="post" encType="multipart/form-data">
    <div class="form-group row form-row">
      <label for="fullName" class="col-4 col-md-2 col-form-label">Full Name</label>
      <div class="col-8 col-md-4">
        <input type="name" class="form-control" id="fullName" name="fullName" placeholder="Enter your full name">
      </div>
    </div>
    <div class="form-group row form-row">
      <label for="emailAddress" class="col-4 col-md-2 col-form-label">Email Address</label>
      <div class="col-8 col-md-4">
        <input type="email" class="form-control" id="emailAddress" name="email" aria-describedby="emailHelp" placeholder="Enter your email">
        <small id="emailHelp" class="form-text text-muted">This is how i'll get in touch.</small>
      </div>
    </div>
    <div class="form-group row form-row">
      <label for="phoneNo" class="col-4 col-md-2 col-form-label">Phone Number</label>
      <div class="col-8 col-md-4">
        <input type="tel" class="form-control" id="phoneNo" name="phoneNo" placeholder="Enter your phone number">
      </div>
    </div>
    <div class="form-group row form-row">
      <label for="tattoDesc" class="col-4 col-md-2 col-form-label">Your Idea</label>
      <div class="col-8 col-md-4">
        <textarea class="form-control" id="tattooDesc" rows="5" name="tattooDesc"
          placeholder="Please write a description of your tattoo"></textarea>
      </div>
    </div>
    <div class="form-group row form-row" id="file-input-group">
      <label for="fileUpload" class="col-4 col-md-2 col-form-label">Attach any reference photos</label>
      <div class="col-8 col-md-4" id="file-input-list">
        <input type="file" class="form-control-file" id="fileUpload" name="refPhoto" onclick="addFileInput()">
      </div>
    </div>

    <div class="form-group row form-row">
      <label for="placementDropDown" class="col-4 col-md-2 col-form-label">Placement</label>
      <div class="col-8 col-md-4">
        <select id="placementDropDown" class="form-control" name="Placement">
          <option selected>Placement...</option>
          <option>Forearm/inner arm</option>
          <option>Upper arm</option>
          <option>Calf</option>
          <option>Thigh</option>
          <option>Chest</option>
          <option>Ribs</option>
          <option>Sternum</option>
          <option>Neck</option>
          <option>Back</option>
          <option>Not Sure</option>
        </select>
      </div>
    </div>

    <div class="form-group row form-row">
      <label for="sizeDropDown" class="col-4 col-md-2 col-form-label">Size</label>
      <div class="col-8 col-md-4">
        <select id="sizeDropDown" class="form-control" name="size">
          <option selected>size...</option>
          <option>Small (less than 3")</option>
          <option>Palm sized</option>
          <option>Hand sized</option>
          <option>Full day</option>
          <option>Not sure</option>
        </select>
      </div>
    </div>

    <div class="form-group row form-row">
      <label for="daysDropDown" class="col-4 col-md-2 col-form-label">Your availability</label>
      <div class="col-8 col-md-4">
        <select id="daysDropDown" multiple="multiple" name="availability">
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="any">Any Days</option>
        </select>
      </div>
    </div>

    <br>
    <hr class="body-hr">

    <button type="submit" class="btn btn-main btn-bookingSubmission">Send Booking Form</button>

    <hr class="header-hr">
  </form>


  <!-- Initialize the plugin: -->
  <script type="text/javascript">
      var imgCount = 0;

      $(document).ready(function() {
          $('#daysDropDown').multiselect();
      });

      function addFileInput(){
        imgCount++;
        $('#file-input-list').append('<br> <input type="file" class="form-control-file" id="fileUpload" name="refPhoto' + imgCount + '" onclick="addFileInput()">');
      }

  </script>

</body>

<% include components/common/footer.html %>
