<% include components/common/headerInfo.html %>
<script src="../js/image-flipper/jquery.flipster.min.js"></script>
<link href="css/socialIcons.css" rel="stylesheet">
<link href="css/image-flipper/jquery.flipster.min.css" rel="stylesheet">
<!-- <link href="css/image-flipper/custom-flipper.css" rel="stylesheet"> -->

  <body>

    <header>
      <h1>Kaymie Seven</h1>
    </header>

    <hr class="header-hr">

    <!--  Booking menu section  -->

    <div class="row">
  	  <div class="col-md-6 col-sm-12">
      	  <img class="booking-img" src="../img/kaymie_dark_tattoo.jpg" alt="Book Now">
          <form action="/BookingForm.html" method="get">
            <button type="submit" class="btn btn-main btn-booking mobile">Book Now</button>
          </form>
  	  </div>
      <div class="col-md-2 ipad">
        <form action="/BookingForm.html" method="get">
          <button type="submit" class="btn btn-main btn-booking">Book Now</button>
        </form>
      </div>
      <div class="col-md-4 ipad">
        <% include components/socialIcons.html %>
      </div>
    </div>

    <!--  Shop images section  -->

    <hr class="body-hr">
    <div class="row">
      <% include components/shopSlides.html %>
    </div>

    <hr class="body-hr mobile">

    <div class="row mobile">
      <div class="col-sm-12">
        <% include components/socialIcons.html %>
      </div>
    </div>

    <hr class="header-hr">
    <br>

<% include components/common/footer.html %>
